@font-face {
  font-family: "VectorBattle";
  src: url("VectorBattle-e9XO.ttf");
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#canvas {
  width: 100%;
  height: 100%;
  background-color: black;
}

#version {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: x-small;
  font-style: italic;
  color: white;
  opacity: 0.5;
}

#microphone-panel {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

#microphone-panel span {
  color: red;
}
